
.dream{
    color: #ccae62;
    font-size: 65px;
    position: absolute;
}

.big-b{
    display: inline-block;
    background-color: #2ecc71;
    width:200px;
    height: 100px;
    margin-top: 200px;
    border-radius: 10px;
    border:1px solid #2ecc71;
}
.big-b h3{
    font-size:25px;
    text-align: center;
    color: white;
}

.big-b-mum{
    text-align: center;
}


.iimg5{
    position: relative;
    top:0;
    bottom:0;
  height: 170px;
    width: 100%;
    z-index:  -19;
    margin-left: 0;
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);  
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }
  
  .cover-text .sch-logo{
      background-image: url("../images/schl-logo.JPEG");
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat; 
      position: absolute;
      margin-top: 31px;
      margin-left: 15px;
      height: 30px;
      width: 30px;
      border-color: white !important;  
      border-radius: 50%;
  }
  
  .iimg2{
      background-image: url("../images/coporate-man.JPEG");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat; 
  height: 70px;
    width: 100%;
    border-color: white !important;  
    border-radius: 50%;
  }
  
  .id-card h5{
      margin-top: 10px;
  position: absolute;
  display: inline-block;
  color: white;
  font-size: 10px;
  }
  
  .id-card h1{
      margin-top: 20px;
      position: absolute;
      display: inline-block;
      color: white;
      font-size: 20px;
      }
  
  .over{
      position:  absolute;
      top:0;
      bottom:0;
      left:0;
      right:0;
      height: 100%;
      width: 100%;
      z-index: -17;
      background-color: rgba(0,0,0,0.7);   
      border-bottom-left-radius: 50%;
      border-bottom-right-radius: 50%;
      border-top-right-radius: 10px;
      border-top-left-radius: 10px;
  }
  
  .id-card{
       display: inline-block;
      width: 204px;
      height: 324px;
      background-color: #95afc0;
      margin-top: 30px;
      margin-left: 50px;
      position: relative;
      z-index: -1;
      border-radius:10px;
  }
  
  .img-circle{
      position: absolute;
      background-color: #7f8c8d;
      height: 70px;
      width: 70px;
      border-radius:50%;
      z-index: -3;
      margin-top: 120px;
      margin-left: 65px;
      border: 4px solid #bdc3c7;
  }
  
  .mum{
      display: inline-block;
      width: 324px;
      height: 204px;
      background-color: black;
      margin-top: 30px;
      margin-left: 50px;
  }
  
  .cover-text{
      text-align: center;
      justify-content: left;
  }
  
  .cover-text h3{
      position: absolute;
      margin-left: 30px;
      font-size: 11px;
      color: white;
      margin-top: 65px;
      font-family: 'PT Serif', serif;
  }
  
  .sch-logo{
      position: absolute;
      margin-left: 155px;
      margin-top: 12px;
  }
  .cover-text h5{
      font-size: 10px;
      color: white;
     
  }
  
  .cover-text h1{
      position: absolute;
      margin-left: 55px;
      margin-top: 15px;
      font-size: 13px;
      color: white;
  }
  .cover-mum{
      display: flex;
  }


  #center-card1{
    text-align: center;
    display: none;
    margin-top: 100px;
}

#center-card2{
    text-align: center;
    display: none;
    margin-top: 100px;
}
  
  
  .cover-flex1 h4{
      font-size: 10px;
      line-height: 12px;
      font-family: 'Playfair Display', serif;
  }
  
  .cover-flex1{
      text-align: left;
      flex-basis: 40%;
      margin-top: 40px;
      margin-left: 10px;
      }
  
  .cover-flex2{
      flex-basis: 40%;
      margin-top: 40px;
      }
  
      .cover-flex2 h4{
          font-weight: bold;
          text-align: left;
          font-size: 11px;
          line-height: 12px;
          font-family: 'Playfair Display', serif;
      }
  
      .barcode{
          background-image: url("../images/barcode.png");
          background-size: cover;
          background-position: center center;
          background-repeat: no-repeat; 
          position: absolute;
          top:0;
          bottom:0;
        height: 40px;
        margin-top: 20px;
          width: 26%;
          margin-left: 140px;
          border-color: white !important;  
      }
  
      .cover-text1{
          text-align: left;
          margin-left: 10px;
      }
      .iimg52{
          background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);  
        position: absolute;
        top:0;
        bottom:0;
        border-radius: 10px;
        height: 324px;
        width: 100%;
        z-index:  -19;
        margin-left: 0;
      }
  
      .over2{
          position:  absolute;
          top:0;
          bottom:0;
          left:0;
          right:0;
          height: 100%;
          width: 100%;
          border-radius: 10px;
          z-index: -17;
          background-color: rgba(0,0,0,0.7);   
      }
  
      .cover-flex-oda p{
          margin-top: 80px;
          text-align: center;
          position: absolute;
          color: white;
          font-size: 7px;
          line-height: 10px;
      }
  .mother{
      position: relative;
  }
  .exp{
      display: flex;
  }
  
  .exp h3{
      margin-top: 270px;
      text-align: center;
          position: absolute;
          color: white;
          font-size: 14px;
          z-index: -15;
          margin-left: 75px;
  }
  
  .exp h4{
      margin-left: 80px;
      margin-top: 200px;
      text-align: center;
          position: absolute;
          color: white;
          font-size: 10px;
          z-index: -15;
  }
  
  
  .exp .signature{
      margin-left: 80px;
      margin-top: 170px;
      text-align: center;
          position: absolute;
          color: white;
          font-size: 10px;
          z-index: -15;
          }
      .exp .expiry{
          margin-left: 80px;
          margin-top: 240px;
          text-align: center;
              position: absolute;
              color: white;
              font-size: 10px;
              z-index: -15;   
      }   